modules = ["web", "nodejs-16"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Start Nzija Server"

[[workflows.workflow]]
name = "Start Nzija Server"
author = 38651611
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3001
externalPort = 3001

[deployment]
run = ["sh", "-c", "npm run dev"]
